## Filtering and Sorting Data

In [1]:
import pandas as pd

In [20]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

In [21]:
chipotle = pd.read_csv(url, sep='\t')
len(chipotle)

4622

In [22]:
chipotle.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [23]:
chipotle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Transform the item_proce column into float

In [24]:
chipotle['item_price'] = [float(val[1:]) for val in chipotle['item_price']]

### Delete the duplicates in item_name, quantity, and description

In [25]:
chipotle.drop_duplicates(['item_name', 'quantity', 'choice_description'], inplace=True)

In [26]:
len(chipotle)

1949

### Select only products with quantity = 1

In [27]:
single_products = chipotle[chipotle['quantity'] == 1]

In [28]:
single_products.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98

### Sort by name of the item

In [34]:
chipotle.sort_values(by=['item_name'])

,order_id,quantity,item_name,choice_description,item_price
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
721,298,1,6 Pack Soft Drink,[Nestea],6.49
357,154,1,6 Pack Soft Drink,[Coke],6.49
3141,1253,1,6 Pack Soft Drink,[Lemonade],6.49
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
...,...,...,...,...,...
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
3889,1559,2,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",16.98
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### What is the quantity of the most expensive item ordered?

In [40]:
chipotle.sort_values(by=['item_price'])[-1:]['quantity']

3598    15
Name: quantity, dtype: int64

### How many times was a Veggie Salad Bowl Ordered?

In [41]:
len(chipotle[chipotle['item_name'] == 'Veggie Salad Bowl'])

16